.div-uno-fila {
    display: flex;
    flex-direction: row;
}

.div-dos-fila {
    display: flex;
    flex-direction: row;
}

.div-dos-fila-arts {
    display: flex;
    flex-direction: row;
}

.div-tres-lista-arts {
    display: flex;
    flex-direction: row;
}

img {
    width: 20rem;
}