.division-dos-borde a {
    text-decoration: none;
    display: block;
    width: 12rem;
}

.division-dos-borde h2 {
  font-size: 36px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  margin: 0;
}

.division-dos-borde h3 {
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.titulo-responsive{
    display: none;
}

#titulo-rolling {
    color: #D71920;
}

#titulo-rolling-responsive{
    display: none;
}

.division-dos-borde span {
    color: black;
}

.division-dos-borde {
    border-top: solid 5px black;
    padding-top: 0.5em;
}

.division-dos {
    height: 16rem;
    width: 100%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    position: relative;
    padding-top: 1rem;
    margin-bottom: 4rem;
}

.division-dos img {
    object-fit: contain;
    width: 12rem;
    transform: translateY(-10%);
}

.division-dos-fila {
    display: flex;
    flex-direction: row;
}

.division-dos-fila-logo {
    display: flex;
    flex-direction: column;
    padding-right: 0.5em;
    max-width: 15rem;
}

.division-dos-fila-logo-top,  .division-dos-fila-logo-bottom {
    height: auto;
    width: 100%;
    position: relative;
}

.division-dos-card-separador{
    width: 9.5em;
    border: 1px solid black;
    margin: 0.25rem 0 1rem 0;
}

.division-dos-fila-cards {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.division-dos-fila-cards > * {
    flex: 1;
}

.division-dos-card {
    display: flex;
    flex-direction: column;
}

.division-dos-card:nth-child(1), .division-dos-card:nth-child(2), .division-dos-card:nth-child(3) {
    border-right: solid 1px black;
    padding-left: 2rem;
    padding-right: 2rem;
}

.division-dos-card:nth-child(4) {
    padding-left: 2rem;
}

.division-dos-card .division-dos-card-img{
    height: 8rem;
    width: auto;
    overflow: hidden;
}

#showtime-logo {
    width: 8rem;
}

.division-dos-boton-bottom {
    height: 34px;
    width: 85px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
}

.division-dos-boton-bottom button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid 1px black;
    font-size: 13px;
    cursor: pointer;
}

.division-dos-boton-bottom button a {
    width: auto;
}

.division-dos-boton-bottom button span {
    margin-left: 1ch;
}

.division-dos-boton-bottom-responsive {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .division-dos {
        height: 11rem;
        margin-bottom: 0;
    }

    .division-dos-borde a{
        width: 8rem;
    }

    .division-dos h3{
        font-size: 1.3rem;
        -webkit-line-clamp: 4;
    }
    .division-dos h2 {
        font-size: 30px;
        width: 16rem;
    }

    .division-dos-card-img {
        display: none;
    }

    .titulo-init{
        display: none;
    }

    .titulo-responsive{
        display: flex;
        flex-direction: column;
    }

    #titulo-rolling-responsive{
        color: #D71920;
        display: flex;
    }

    #showtime-logo {
        width: 4rem;
    }

    .division-dos-fila{
        justify-content: space-between;
    }

    .division-dos-fila-logo {
        max-width: 9rem;
    }

    .division-dos-card:nth-child(1), .division-dos-card:nth-child(2), .division-dos-card:nth-child(3) {
        border-right: 0;
        padding-right: 0;
        padding-left: 1.5rem;
    }

    .division-dos-card-separador{
        width: 8rem;
    }

}

@media only screen and (max-width: 793px) {
    
    .division-dos{
        overflow: auto;
        position: inherit;
        height: 19.5rem;
        margin-bottom: 0;
    }

    .division-dos h2 {
        font-size: 30px;
      }

    .division-dos h3{
        margin: 0;
        font-size: 1.1rem;
        -webkit-line-clamp: 3;
    }
    .division-dos-fila {
        height: 30rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .division-dos-fila-logo {
        padding-left: 2em;
    }

    .division-dos-fila-cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow:visible;
    }

    .division-dos-card {
        flex-direction: row;
    }

    .division-dos-card .division-dos-card-img{
        min-width: 13rem;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    .division-dos-card-img{
        display:block;
    }
    
    .division-dos-card:nth-child(1), .division-dos-card:nth-child(2), .division-dos-card:nth-child(3) {
        border-bottom: solid 1px black;
        border-right: 0;
    }
    .division-dos-boton-bottom {
        transform: translateY(550%);
        right: 0.5rem;
        display: none;
    }
    .division-dos-boton-bottom-responsive{
        display: flex;
        height: 34px;
        width: 85px;
        transform: translateY(-50%);
        margin-left: 80%
    }
    
    .division-dos-boton-bottom-responsive button {
        width: 100%;
        height: 100%;
        background-color: white;
        border: solid 1px black;
        font-size: 13px;
        cursor: pointer;
    }
    
    .division-dos-boton-bottom-responsive button a {
        width: auto;
    }
    
    .division-dos-boton-bottom-responsive button span {
        margin-left: 1ch;
    }
}