.division-dos a {
    text-decoration: none;
}

.division-dos h2 {
  font-size: 36px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  margin: 0;
}

.division-dos h3 {
    color: black;
}

#titulo-rolling {
    color: #D71920;
}

.division-dos span {
    color: black;
}

.division-dos-borde {
    border-top: solid 3px black;
    padding-top: 0.5em;
}

.division-dos {
    height: 20rem;
    width: 100%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    position: relative;
    padding-top: 1rem;
    margin-bottom: 4rem;
}

.division-dos img {
    object-fit: contain;
    width: 12rem;
}

.division-dos-fila {
    display: flex;
    flex-direction: row;
}

.division-dos-fila-logo {
    display: flex;
    flex-direction: column;
    padding-right: 0.5em;
    max-width: 15rem;
}

.division-dos-fila-logo-top,  .division-dos-fila-logo-bottom {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.division-dos-card-separador{
    width: 9.5em;
    border: 1px solid black;
    margin: 0.25rem 0 1rem 0;
}

.division-dos-fila-cards {
    display: flex;
    flex-direction: row;
}

.division-dos-card {
    display: flex;
    flex-direction: column;
}

.division-dos-card:nth-child(1), .division-dos-card:nth-child(2), .division-dos-card:nth-child(3) {
    border-right: solid 1px black;
    padding-left: 2rem;
    padding-right: 2rem;
}

.division-dos-card:nth-child(4) {
    padding-left: 2rem;
}

.division-dos-card .division-dos-card-img{
    height: 8rem;
    width: auto;
    overflow: hidden;
}

.division-dos-fila-cards > * {
    flex: 1;
}

#showtime-logo {
    width: 8rem;
}

.division-dos-boton-bottom {
    height: 34px;
    width: 85px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
}

.division-dos-boton-bottom button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid 1px black;
    font-size: 13px;
    cursor: pointer;
}

.division-dos-boton-bottom button span {
    margin-left: 1ch;
}