h3, h4 {
    padding: 0;
    margin: 0;
}

.division-uno {
    margin-bottom: 56px;
    border-top: 1px solid black;
}

.division-uno-borde {
    margin-top: 4px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 3.5rem;
}

.division-uno-fila {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1rem 0;
    height: 8rem;
    margin-top: 0.25rem;
    min-width: 100%;
    gap: 1rem;
    overflow: scroll;
}

.division-uno-card {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: nowrap;
    min-width: fit-content;
    height: 110px;
    gap: 1.5rem;
    overflow:hidden;
}

.division-uno-card:not(:first-child){
    padding-left: 24px;
    margin-left: 24px;
    border-left: 1px solid black;
}


.division-uno-card-img {
    min-width: 98px;
    height: 110px;
    position: relative;
}

.division-uno-card-img > img {
    position: absolute;
    width: 98px;
    height: 98px;
    object-fit: contain;
}

.division-uno-card-text {
    display: flex;
    flex-direction: column;
    height: 110px;
    flex-basis: 50%;
}

.division-uno-card-separador{
    width: auto;
    border: 1px solid black;
    margin: 0.25rem 0 1rem 0;
}
