body {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  padding: 40px;
}

.borde1 {
  border: 1px solid salmon;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.borde2 {
  border: 1px solid salmon;
  margin: 10px;
  padding: 20px;
}

.container-completo {
  display: flex;
  flex-direction: row;
}

.container-image {
  display: flex;
  padding: 20px;
  width: 600px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container-completo {
  width: auto;
  height: auto;
}

div .container-contenido1 {
  width: 100%;
  height: 55%;
}

div .container-contenido2 {
  display: flex;
  align-items: center;
}

.primera-fila {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.botones {
  text-decoration: none;
  width: 50%;
}

.botones-lista {
  flex-direction: column;
  flex-grow: 0.5;
  display: flex;
  margin: 10px;
}

.boton-blanco-borde {
  color: black;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.boton-blanco-link a {
  display: flex;
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.boton-negro-borde {
  border: 1px solid white;
  color: white;
  background-color: black;
  padding: 10px;
  margin: 10px;
}

.boton-negro-link a {
  display: flex;
  border: 1px solid white;
  color: white;
  background-color: black;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.boton-blanco {
  margin-block-start: 0;
  margin-block-end: 0;
}

.boton-negro {
  margin-block-start: 0;
  margin-block-end: 0;
}

hr {
  margin: 3px;
}

/* Rolling y Legal */

.segunda-fila {
  display: flex;
}

.rolling-legal {
  display: flex;
  flex-grow: 0.5;
  width: 100%;
}

.rolling-stone {
  width: 55%;
  padding-left: 30px;
  padding-right: 30px;
}

.legal {
  width: 55%;
  padding-left: 30px;
  padding-right: 30px;
}

.listas-rolling-legal {
  display: flex;
}

h4 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 100%;
}

.ulista_rollingstone_legal li {
  display: flex;
  padding: 10px;
}

.follow-us {
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
}

.social-media-junto {
  display: flex;
  flex-direction: column;
}

.listas-social-media {
  display: flex;
  padding-top: 5px;
}

.icono {
  width: 20px;
  height: 20px;
  border: 1px solid red;
  margin-right: 10px;
}

.social-media .red-social {
  display: flex;
  padding: 5px;
  width: 100%;
  padding-top: 5px;
}
