header{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.primero{
    display: flex;
    flex-direction: row;
}

.segundo{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    text-decoration: none;
}