#recom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-recom {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: center;
    border: 2px solid black;
}

#lista-recom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    list-style: none;
}

.card-recom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 170px;
    height: 300px;
}

.cuadro-imagen-recom {
    display: flex;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.imagen-recom {
    display: flex;
    justify-content: center;
}

.enlace-recom, .branded-content-recom{
    align-items: center;
    justify-content: center;
}

.name-recom {
    text-align: center;
    font-size: small;
    text-decoration: underline;
}


