body{
    width: 1260px;
    background-color: aqua;
}

.morenews{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.news{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.morenews img{
   width: 310px;
   height: 266px;
}